div {
  margin: auto;
  width: 90%;
  height: 90%;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: gray;
  text-align: center;

}

.guess {
  background-color: black;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.log {
  background-color: rgba(0, 0, 0, 0.5);
}

.stat {
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 7vw;
  height: 7vw;
  background-color: gray;
  align-content: center;
}


.correct {
  border-color: green;
}

.incorrect {
  border-color: red;
}

.higher {
  border-color: gold;
  border-bottom: 0px;
}

.lower {
  border-color: gold;
  border-top: 0px;
}