div {
  margin: auto;
  width: 90%;
  height: 90%;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: gray;
  text-align: center;
}

.guess {
  background-color: white;
  color: black;
  text-align: center;
}

.log {
  background-color: rgba(0, 0, 0, 0.5);
}